/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {
    box-sizing: border-box;
}


html, body{
    height:100%;
    overflow-x: hidden;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#columns {
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

#viewcontainer
{
    height: 68vh;
    overflow: scroll;
}

.attraction
{
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px 15px 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.attraction img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.attraction p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

.timeline {
    -webkit-transform: translateZ(0);
    position: fixed;
    bottom: 0;
    width: 100%;

}
/** Drag and drop styles start **/

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.lvl-target {
    /*
    applied to all drop targets when a drag operation begins
    removed when the drag operation ends
    used to indicate drop targets on a page
    */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    border:1px solid black;
}

 .lvl-over {
     /* applied to a drop target when a draggable object is over it */
     border: 2px dashed black !important;
 }

.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    border:1px solid black;
}

.peg {
    text-align: center;
    font-weight: bold;
    border:1px black solid;
    width: 75px;
    margin: 10px;
}

.slot {
    margin-right:2px;
    margin-top:2px;
    width:25px;
    height:25px;
    display:inline-block;
    border: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size:12pt;
}

/** Drag and drop styles end **/