/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}


.attractionsTable{
    border-spacing:0 2px;
    border-collapse:separate;
}

.attraction
{
    border: thin dotted;
    border-right-style: none;
    height: 20px;
    width: 20px;
}

.timelineTable {
    border-style: none;
    border-collapse: separate;
    border-spacing:0 2px;

}

.timelineHeader{
    border-right-style: dotted;
    height: 20px;
}

.timeline {
    border: thin dotted;
    border-right-style: none;
    height: 20px;
    width: 20px;
}
/** Drag and drop styles start **/

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.lvl-target {
    /*
    applied to all drop targets when a drag operation begins
    removed when the drag operation ends
    used to indicate drop targets on a page
    */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    border:1px solid black;
}

/** Drag and drop styles end **/