/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.attractionsTable{
    border-spacing:0 2px;
    border-collapse:separate;
}

.attraction
{
    display: inline-block;
    vertical-align: bottom;
    border: thin dotted;
    margin: 10px;
    padding: 3px 5px;
}

.timelineTable {
    border-style: none;
    border-collapse: separate;
}

.timeline {
    display: inline-block;
    vertical-align: bottom;
    border-top: thin dotted;
    height: 20px;
    width: 20px;
}
/** Drag and drop styles start **/

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.lvl-target {
    /*
    applied to all drop targets when a drag operation begins
    removed when the drag operation ends
    used to indicate drop targets on a page
    */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    /* not applied by the directive, but useful to indicate a draggable element */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    border:1px solid black;
}

 .lvl-over {
     /* applied to a drop target when a draggable object is over it */
     border: 2px dashed black !important;
 }

.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    border:1px solid black;
}

.peg {
    text-align: center;
    font-weight: bold;
    border:1px black solid;
    width: 75px;
    margin: 10px;
}

.slot {
    margin-right:2px;
    margin-top:2px;
    width:25px;
    height:25px;
    display:inline-block;
    border: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size:12pt;
}

/** Drag and drop styles end **/