<div ng-app="myApp" ng-controller="View1Ctrl" >

    <div id="viewcontainer">
        <div id="columns">
            <div lvl-draggable="true" class="attraction" ng-show="!attraction.reserved" ng-repeat="attraction in attractions">
                <div show = true ng-click="addAttractionToTimeline(attraction)" >
                <b>{{attraction.name}}</b>
                <p>{{attraction.description}}</p>
                <p>{{attraction.address}}</p></div>
                </div>
        </div>
    </div>

    <footer id="timeline" timeline="data"
            timeline-options="options"
            timeline-selection="selection"
            >
    </footer>
</div>

