<div ng-app="myApp" ng-controller="View1Ctrl">

    <div id="columns">
        <div lvl-draggable="true" class="attraction"  ng-repeat="attraction in attractions">
            <div ng-click="addAttractionToTimeline(attraction)" >
            <b>{{attraction.name}}</b>
            <p>{{attraction.description}}</p>
            <p>{{attraction.address}}</p></div>
            </div>
    </div>

    <br/>

    <div timeline="data"
         timeline-options="options"
         timeline-selection="selection"
         >
    </div>
</div>

